.itemBox{
    text-align: center;
}

.boxItems{
    height: auto;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
    gap: 30px;
    margin-top: 15px;
}

.itemText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemsName{
    font-size: 1.2rem;
}

.itemsImg{
width:350px;
height:350px;
}

.itemsPrice{
    font-size: 1.3rem;
}

.itemButton{
background-color: black;
color: antiquewhite;
border-color: 2px solid white;
}

